<div class="filter-section mb-4"
    <h4>Filter Recipes</h4>
    <form method="GET" action="{{ path('app_meal_planner_edit', {'id': meal_planner.id}) }}">
        <div class="row">
            <div class="col-md-4">
                <label for="type" class="form-label">Type</label>
                <select name="type" id="type" class="form-select">
                    <option value="">All</option>
                    <option value="Vegan" {% if type == 'Vegan' %}selected{% endif %}>Vegan</option>
                    <option value="Vegetarian" {% if type == 'Vegetarian' %}selected{% endif %}>Vegetarian</option>
                    <option value="Pescatarian" {% if type == 'Pescatarian' %}selected{% endif %}>Pescatarian</option>
                    <option value="Carnivore" {% if type == 'Carnivore' %}selected{% endif %}>Carnivore</option>
                    <option value="Low-Carb" {% if type == 'Low-Carb' %}selected{% endif %}>Low-Carb</option>
                    <option value="Paleo" {% if type == 'Paleo' %}selected{% endif %}>Paleo</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="calories" class="form-label">Maximum Calories</label>
                <input type="number" name="max_calories" id="calories" class="form-control" 
                        placeholder="e.g., 500" value="{{ max_calories is defined ? max_calories : '' }}">
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
  </div>