/* ================ new recipe start ================== */

.container-recipe {
  width: 1200px;
}

body {
  font-family: Poppins, sans-serif; 
  font-size: 16px; 
  line-height: 1.6; 
  color: #333; 
  background-color: #f9f9f9; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

h1 {
  font-weight: 800;
  font-size: 35px;
  text-align: left;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-top: -30px;
  color: #5D5C59;
}

.form-control-name {
  width: 522px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;  
}

.form-control-ingredients { 
  width: 522px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-time {
  width: 250px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-description {
  width: 522px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-calories {
  width: 522px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-link {
  width: 522px;
  border: 1px solid #C3C3C3; 
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #333; 
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.type-button {
  padding: 5px 23px;
  background-color: #D9D9D9;
}

/* =========== upload pfoto start =================== */

.image-upload-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E6EC;
  border-radius: 5px;
  overflow: hidden;
}

.image-placeholder img {
  width: 43px;
  height: 35px;
  object-fit: cover;
  opacity: 0.8;
}

.image-hint {
  font-size: 14px;
  color: #6c757d;
  font-style: italic;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-input {
  display: none;
}

.file-label {
  display: inline-block;
  background-color: #f8f9fa;
  color: #9acd32;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #9acd32;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.file-label:hover {
  background-color: #9acd32;
  color: #ffffff;
}

.file-name {
  font-size: 14px;
  color: #6c757d;
}



/* =========== upload pfoto end =================== */




/* ================ new recipe end ================== */


/* ================ flash-message start ================== */

.alert {
  border-radius: 30px;
  font-size: 1rem;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  transition: opacity 0.5s ease-in-out; 
}


.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #11381a;
}


.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.alert-dismissible .btn-close {
  color: #000;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


/* ================ flash-message end ================== */

/* ================ style form start ================== */

.form-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-title-image {
  font-size: 22px;
  color: #000;
  font-weight: 800;
}


.recipe-types .btn {
  display: inline-block;
  padding: 5px 23px;
  background-color: #D9D9D9;
  color: #000;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.recipe-types .btn:hover {
  background-color: #b2b2b2;
  color: #000;
}

.recipe-types input[type="radio"] {
  display: none; 
}

.recipe-types input[type="radio"]:checked + .btn {
  background-color: #004466;
  color: white;
  border-color: #004466;
}




#ingredient-input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
}

#add-ingredient {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-ingredient:hover {
  background-color: #0056b3;
}

#ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#ingredients-list .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

#ingredients-list .btn-danger {
  border: none;
  background-color: #dc3545;
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#ingredients-list .btn-danger:hover {
  background-color: #c82333;
}


/* ================ style form end ================== */


/* ================ style details view recipe start ================== */

.recipe-details {
  max-width: 1168px;
  margin: 0 auto;
}

.recipe-details__title {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 800;
}

.recipe-image {
  max-width: 1168px;
  max-height: 553px;
  width: 100%;
  height: auto;
}

.recipe-image__image {
  width: 100%;
  height: auto;
  max-height: 553px;
  object-fit: cover;
  border-radius: 18px;
}

.recipe-details__items {
  margin-bottom: 30px;
}

.list-items {
  display: flex;
  gap: 72px;
}

.list-item {
  display: block;
  width: 240px;
  height: 130px;
  border: 1px solid #c3c3c3;
  border-radius: 18px;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 500;
}

.list-item-ingredient {
  display: block;
  width: 400px;
  height: 200px;
  border: 1px solid #c3c3c3;
  border-radius: 18px;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 500;
}

.list-item-style {
  font-size: 30px;
  font-weight: 800;
  color: #5D5C59;
}

.recipe-types {
  margin-bottom: 22px;
}

/* ================ style details view recipe end ================== */


