{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-recipe">
        
            {{ include('recipe/_form.html.twig') }}
        
        </div>
    </div>
{% endblock %}
