{% extends 'base.html.twig' %}

{% block title %}Edit MealPlanner{% endblock %}

{% block body %}
    <h1>Edit MealPlanner</h1>

    {% include 'components/_filter_mealplanneredit.html.twig' %}

    {{ include('meal_planner/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-details" href="{{ path('app_meal_planner_index') }}">Back to list</a>

    {{ include('meal_planner/_delete_form.html.twig') }}
{% endblock %}
